@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
  
.big-text {
    color: #4e4e4e;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
  }

.groupsList {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
  }